In [19]:
import pandas as pd
import datetime
import numpy as np

In [20]:
df = pd.read_csv('^NSEI.csv', parse_dates=True)

In [21]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-08-06,11401.500000,11427.650391,11370.599609,11387.099609,11387.099609,203700.0
1,2018-08-07,11423.150391,11428.950195,11359.700195,11389.450195,11389.450195,226400.0
2,2018-08-08,11412.500000,11459.950195,11379.299805,11450.000000,11450.000000,210500.0
3,2018-08-09,11493.250000,11495.200195,11454.099609,11470.700195,11470.700195,302200.0
4,2018-08-10,11474.950195,11478.750000,11419.650391,11429.500000,11429.500000,0.0
...,...,...,...,...,...,...,...
1229,2023-07-31,19666.349609,19772.750000,19597.599609,19753.800781,19753.800781,295100.0
1230,2023-08-01,19784.000000,19795.599609,19704.599609,19733.550781,19733.550781,298000.0
1231,2023-08-02,19655.400391,19678.250000,19423.550781,19526.550781,19526.550781,290700.0
1232,2023-08-03,19463.750000,19537.650391,19296.449219,19381.650391,19381.650391,315700.0
1233,2023-08-04,19462.800781,19538.849609,19436.449219,19517.000000,19517.000000,280800.0

In [22]:
df['sma50'] = df['Adj Close'].rolling(50).mean()
df['sma200'] = df['Adj Close'].rolling(200).mean()

In [23]:
df = df.dropna()

In [24]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,sma50,sma200
495,2020-08-17,11248.900391,11267.099609,11144.500000,11247.099609,11247.099609,634000.0,10722.664102,10840.738276
496,2020-08-18,11259.799805,11401.700195,11253.150391,11385.349609,11385.349609,579200.0,10749.438086,10838.730776
497,2020-08-19,11452.150391,11460.349609,11394.099609,11408.400391,11408.400391,626200.0,10775.283086,10836.552280
498,2020-08-20,11317.450195,11361.450195,11289.799805,11312.200195,11312.200195,791600.0,10803.487090,10833.726030
499,2020-08-21,11409.650391,11418.500000,11362.200195,11371.599609,11371.599609,668700.0,10831.461074,10831.131030
...,...,...,...,...,...,...,...,...,...
1229,2023-07-31,19666.349609,19772.750000,19597.599609,19753.800781,19753.800781,295100.0,19042.068125,18179.814531
1230,2023-08-01,19784.000000,19795.599609,19704.599609,19733.550781,19733.550781,298000.0,19070.451133,18193.564531
1231,2023-08-02,19655.400391,19678.250000,19423.550781,19526.550781,19526.550781,290700.0,19094.022148,18205.579287
1232,2023-08-03,19463.750000,19537.650391,19296.449219,19381.650391,19381.650391,315700.0,19115.947148,18217.415791
1233,2023-08-04,19462.800781,19538.849609,19436.449219,19517.000000,19517.000000,280800.0,19139.864141,18229.072295

In [10]:
df['status'] = np.where(df['sma50'] > df['sma200'], 'buy_zone','sell_zone')

C:\Users\gaura\AppData\Local\Temp\ipykernel_21112\4222197676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['status'] = np.where(df['sma50'] > df['sma200'], 'buy_zone','sell_zone')

In [11]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,sma50,sma200,status
495,2020-08-17,11248.900391,11267.099609,11144.500000,11247.099609,11247.099609,634000.0,10722.664102,10840.738276,sell_zone
496,2020-08-18,11259.799805,11401.700195,11253.150391,11385.349609,11385.349609,579200.0,10749.438086,10838.730776,sell_zone
497,2020-08-19,11452.150391,11460.349609,11394.099609,11408.400391,11408.400391,626200.0,10775.283086,10836.552280,sell_zone
498,2020-08-20,11317.450195,11361.450195,11289.799805,11312.200195,11312.200195,791600.0,10803.487090,10833.726030,sell_zone
499,2020-08-21,11409.650391,11418.500000,11362.200195,11371.599609,11371.599609,668700.0,10831.461074,10831.131030,buy_zone
...,...,...,...,...,...,...,...,...,...,...
1229,2023-07-31,19666.349609,19772.750000,19597.599609,19753.800781,19753.800781,295100.0,19042.068125,18179.814531,buy_zone
1230,2023-08-01,19784.000000,19795.599609,19704.599609,19733.550781,19733.550781,298000.0,19070.451133,18193.564531,buy_zone
1231,2023-08-02,19655.400391,19678.250000,19423.550781,19526.550781,19526.550781,290700.0,19094.022148,18205.579287,buy_zone
1232,2023-08-03,19463.750000,19537.650391,19296.449219,19381.650391,19381.650391,315700.0,19115.947148,18217.415791,buy_zone
1233,2023-08-04,19462.800781,19538.849609,19436.449219,19517.000000,19517.000000,280800.0,19139.864141,18229.072295,buy_zone

In [25]:
position = 0

trades = []

for i in range(len(df)):
    
    if ((df['sma50'].iloc[i] > df['sma200'].iloc[i]) and (position != 1)):
        position = 1
        trades.append((df['Adj Close'].iloc[i], 'BUY'))
    elif ((df['sma200'].iloc[i] > df['sma50'].iloc[i]) and (position != -1)):
        position = -1
        trades.append((df['Adj Close'].iloc[i], 'SELL'))
    else:
        pass

In [26]:
trades

[(11247.099609, 'SELL'),
 (11371.599609, 'BUY'),
 (17173.650391, 'SELL'),
 (17833.349609, 'BUY'),
 (17624.050781, 'SELL'),
 (18487.75, 'BUY')]

In [27]:
def backtest(p1, p2, df):
    df[f'sma{p1}'] = df['Adj Close'].rolling(p1).mean()
    df[f'sma{p2}'] = df['Adj Close'].rolling(p2).mean()

    df = df.dropna()

    position = 0

    trades = []

    for i in range(len(df)):

        if ((df[f'sma{p1}'].iloc[i] > df[f'sma{p2}'].iloc[i]) and (position != 1)):
            position = 1
            trades.append((df['Adj Close'].iloc[i], 'BUY'))
        elif ((df[f'sma{p2}'].iloc[i] > df[f'sma{p1}'].iloc[i]) and (position != -1)):
            position = -1
            trades.append((df['Adj Close'].iloc[i], 'SELL'))
        else:
            pass

    return trades

In [29]:
backtest(40, 200, df)

C:\Users\gaura\AppData\Local\Temp\ipykernel_21112\1628010263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'sma{p1}'] = df['Adj Close'].rolling(p1).mean()
C:\Users\gaura\AppData\Local\Temp\ipykernel_21112\1628010263.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'sma{p2}'] = df['Adj Close'].rolling(p2).mean()

[(17222.75, 'BUY'),
 (16584.550781, 'SELL'),
 (17542.800781, 'BUY'),
 (17359.75, 'SELL'),
 (18348.0, 'BUY')]