In [3]:
import yfinance as yf
import pandas as pd

### Getting the OHLC data

In [5]:
# specifying the start and the end date

df = yf.download("TCS.NS", start="2017-01-01", end="2020-01-01")

[*********************100%***********************]  1 of 1 completed

In [6]:

df.to_csv('TCS.csv')

In [ ]:
# specifying only the start date

yf.download("RELIANCE.NS", start = '2011-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,527.499817,528.242798,521.358032,522.843933,478.549072,4804792
2011-01-04,525.023315,534.879883,523.685974,533.493042,488.296082,10163093
2011-01-05,534.929382,539.882446,529.976379,532.849121,487.706665,11972802
2011-01-06,533.938782,540.575867,532.229980,537.703125,492.149567,10043704
2011-01-07,535.573303,538.768005,524.032715,527.697937,482.991943,8249359
...,...,...,...,...,...,...
2022-07-04,2378.949951,2442.000000,2366.100098,2413.699951,2413.699951,19317335
2022-07-05,2423.000000,2464.899902,2417.100098,2433.250000,2433.250000,8144239
2022-07-06,2420.100098,2441.949951,2388.000000,2411.850098,2411.850098,11050026
2022-07-07,2425.899902,2433.250000,2375.000000,2388.100098,2388.100098,10753423
2022-07-08,2418.000000,2418.000000,2382.550049,2391.399902,2391.399902,8773162

In [7]:
# fetching the data for multiple stocks

yf.download("RELIANCE.NS TCS.NS ONGC.NS", start = '2011-01-01')

[*********************100%***********************]  3 of 3 completed

             Adj Close                                 Close               \
               ONGC.NS  RELIANCE.NS       TCS.NS     ONGC.NS  RELIANCE.NS
Date
2011-01-03  126.037331   477.112671   452.049286  215.466660   522.843933
2011-01-04  125.476730   486.830322   446.857178  214.508331   533.493042
2011-01-05  123.439148   486.242798   452.400391  211.024994   532.849121
2011-01-06  119.651566   490.672241   457.377563  204.550003   537.703125
2011-01-07  117.560379   481.542114   446.037628  200.975006   527.697937
...                ...          ...          ...         ...          ...
2023-06-22  158.949997  2535.500000  3238.500000  158.949997  2535.500000
2023-06-23  156.899994  2514.750000  3216.350098  156.899994  2514.750000
2023-06-26  156.899994  2495.550049  3189.649902  156.899994  2495.550049
2023-06-27  157.850006  2496.449951  3197.350098  157.850006  2496.449951
2023-06-30  160.300003  2550.250000  3302.250000  160.300003  2550.250000

                               High                                   Low  \
                 TCS.NS     ONGC.NS  RELIANCE.NS       TCS.NS     ONGC.NS
Date
2011-01-03   579.025024  217.333328   528.242798   588.474976  215.024994
2011-01-04   572.375000  216.233337   534.879883   583.075012  214.008331
2011-01-05   579.474976  214.816666   539.882446   582.950012  209.666672
2011-01-06   585.849976  211.766663   540.575867   591.000000  202.750000
2011-01-07   571.325012  205.666672   538.768005   593.424988  200.000000
...                 ...         ...          ...          ...         ...
2023-06-22  3238.500000  160.949997  2573.300049  3267.649902  157.500000
2023-06-23  3216.350098  159.000000  2533.399902  3249.399902  155.399994
2023-06-26  3189.649902  158.250000  2515.399902  3213.899902  155.850006
2023-06-27  3197.350098  158.850006  2509.500000  3209.649902  157.350006
2023-06-30  3302.250000  161.000000  2556.649902  3310.000000  158.949997

                                            Open                            \
            RELIANCE.NS       TCS.NS     ONGC.NS  RELIANCE.NS       TCS.NS
Date
2011-01-03   521.358032   577.275024  217.333328   527.499817   583.500000
2011-01-04   523.685974   569.049988  215.891663   525.023315   581.950012
2011-01-05   529.976379   570.875000  214.816666   534.929382   572.625000
2011-01-06   532.229980   576.549988  211.566666   533.938782   584.000000
2011-01-07   524.032715   569.075012  204.191666   535.573303   588.000000
...                 ...          ...         ...          ...          ...
2023-06-22  2532.000000  3230.100098  160.199997  2556.000000  3260.000000
2023-06-23  2512.000000  3209.149902  159.000000  2528.899902  3237.300049
2023-06-26  2488.699951  3173.000000  157.000000  2507.000000  3205.000000
2023-06-27  2486.649902  3182.300049  158.850006  2496.550049  3202.000000
2023-06-30  2533.449951  3214.100098  161.000000  2546.399902  3220.000000

              Volume
             ONGC.NS RELIANCE.NS   TCS.NS
Date
2011-01-03   3086238     4804792  1405042
2011-01-04   4576776    10163093  2502868
2011-01-05   5421078    11972802  3069674
2011-01-06   9529842    10043704  2846720
2011-01-07   5663580     8249359  2532724
...              ...         ...      ...
2023-06-22  10629027     3516244  1529603
2023-06-23   8722650     3059084  1119505
2023-06-26   4273205     5833893  1978803
2023-06-27   9730174     4471687   863542
2023-06-30   7838707     5144841  2671473

[3080 rows x 18 columns]

In [11]:
# fetching intraday data

# 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo

yf.download("RELIANCE.NS", start = '2023-06-01',interval='5m')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-06-01 09:15:00+05:30,2478.750000,2478.750000,2462.899902,2471.949951,2471.949951,0
2023-06-01 09:20:00+05:30,2472.350098,2472.350098,2466.050049,2467.350098,2467.350098,92104
2023-06-01 09:25:00+05:30,2467.750000,2467.949951,2465.000000,2466.050049,2466.050049,99773
2023-06-01 09:30:00+05:30,2466.050049,2474.149902,2465.050049,2473.699951,2473.699951,133507
2023-06-01 09:35:00+05:30,2473.500000,2476.899902,2473.000000,2476.899902,2476.899902,127370
...,...,...,...,...,...,...
2023-06-30 15:05:00+05:30,2543.000000,2549.350098,2542.949951,2549.199951,2549.199951,272604
2023-06-30 15:10:00+05:30,2549.199951,2550.000000,2546.300049,2550.000000,2550.000000,242975
2023-06-30 15:15:00+05:30,2549.949951,2555.649902,2549.949951,2554.800049,2554.800049,319790
2023-06-30 15:20:00+05:30,2555.050049,2555.050049,2552.000000,2554.850098,2554.850098,272702
2023-06-30 15:25:00+05:30,2554.850098,2556.199951,2550.800049,2553.350098,2553.350098,240149

In [ ]:
# fetching 1 minute data for stocks

yf.download('RELIANCE.NS TCS.NS', start = '2022-07-07',interval='1m')

[*********************100%***********************]  2 of 2 completed

                             Adj Close                     Close               \
                           RELIANCE.NS       TCS.NS  RELIANCE.NS       TCS.NS
Datetime
2022-07-07 09:15:00+05:30  2424.750000  3275.399902  2424.750000  3275.399902
2022-07-07 09:16:00+05:30  2421.500000  3272.699951  2421.500000  3272.699951
2022-07-07 09:17:00+05:30  2424.350098  3276.949951  2424.350098  3276.949951
2022-07-07 09:18:00+05:30  2424.000000  3277.649902  2424.000000  3277.649902
2022-07-07 09:19:00+05:30  2422.050049  3278.000000  2422.050049  3278.000000
...                                ...          ...          ...          ...
2022-07-08 15:26:00+05:30  2392.550049  3269.000000  2392.550049  3269.000000
2022-07-08 15:27:00+05:30  2392.550049  3267.300049  2392.550049  3267.300049
2022-07-08 15:28:00+05:30  2391.949951  3265.750000  2391.949951  3265.750000
2022-07-08 15:29:00+05:30  2391.000000  3266.500000  2391.000000  3266.500000
2022-07-08 15:30:00+05:30  2391.399902  3265.449951  2391.399902  3265.449951

                                  High                       Low               \
                           RELIANCE.NS       TCS.NS  RELIANCE.NS       TCS.NS
Datetime
2022-07-07 09:15:00+05:30  2433.250000  3281.100098  2424.500000  3265.100098
2022-07-07 09:16:00+05:30  2427.949951  3276.649902  2418.000000  3270.050049
2022-07-07 09:17:00+05:30  2427.000000  3277.649902  2422.000000  3272.100098
2022-07-07 09:18:00+05:30  2424.949951  3281.800049  2421.100098  3277.250000
2022-07-07 09:19:00+05:30  2425.350098  3281.149902  2421.449951  3277.850098
...                                ...          ...          ...          ...
2022-07-08 15:26:00+05:30  2392.899902  3269.850098  2392.000000  3267.050049
2022-07-08 15:27:00+05:30  2392.800049  3269.000000  2392.350098  3266.000000
2022-07-08 15:28:00+05:30  2392.899902  3267.949951  2391.000000  3265.000000
2022-07-08 15:29:00+05:30  2392.000000  3267.000000  2390.050049  3265.000000
2022-07-08 15:30:00+05:30  2391.399902  3265.449951  2391.399902  3265.449951

                                  Open                   Volume
                           RELIANCE.NS       TCS.NS RELIANCE.NS TCS.NS
Datetime
2022-07-07 09:15:00+05:30  2425.899902  3274.949951           0      0
2022-07-07 09:16:00+05:30  2425.550049  3276.250000      149472  18959
2022-07-07 09:17:00+05:30  2422.000000  3272.699951       57026  16857
2022-07-07 09:18:00+05:30  2424.949951  3277.850098       42994  22345
2022-07-07 09:19:00+05:30  2423.750000  3278.449951       50527  12560
...                                ...          ...         ...    ...
2022-07-08 15:26:00+05:30  2392.300049  3269.500000       37996   7318
2022-07-08 15:27:00+05:30  2392.350098  3269.000000       33535   6441
2022-07-08 15:28:00+05:30  2392.649902  3267.199951       49789   8533
2022-07-08 15:29:00+05:30  2391.949951  3266.000000       25830   8405
2022-07-08 15:30:00+05:30  2391.399902  3265.449951           0      0

[751 rows x 12 columns]

## Getting the Fundamental Data

In [12]:
reliance = yf.Ticker("RELIANCE.NS")

In [13]:
reliance

yfinance.Ticker object <RELIANCE.NS>

In [14]:
reliance.actions

                           Dividends  Stock Splits
Date
1996-05-24 00:00:00+05:30   0.742958           0.0
1997-05-16 00:00:00+05:30   0.804871           0.0
1997-10-27 00:00:00+05:30   0.000000           2.0
1998-05-06 00:00:00+05:30   0.866784           0.0
1999-05-07 00:00:00+05:30   0.928697           0.0
2000-04-06 00:00:00+05:30   0.990610           0.0
2001-04-26 00:00:00+05:30   1.052523           0.0
2002-10-23 00:00:00+05:30   1.176349           0.0
2003-05-23 00:00:00+05:30   1.238263           0.0
2004-05-20 00:00:00+05:30   1.300176           0.0
2005-05-12 00:00:00+05:30   1.857394           0.0
2006-06-01 00:00:00+05:30   2.476525           0.0
2007-03-21 00:00:00+05:30   2.724178           0.0
2008-05-08 00:00:00+05:30   3.219483           0.0
2009-10-16 00:00:00+05:30   3.219483           0.0
2009-11-26 00:00:00+05:30   0.000000           2.0
2010-05-10 00:00:00+05:30   3.467135           0.0
2011-05-05 00:00:00+05:30   3.962440           0.0
2012-05-31 00:00:00+05:30   4.210093           0.0
2013-05-10 00:00:00+05:30   4.457745           0.0
2014-05-16 00:00:00+05:30   4.705398           0.0
2015-05-08 00:00:00+05:30   4.953050           0.0
2016-03-17 00:00:00+05:30   5.200703           0.0
2017-07-13 00:00:00+05:30   5.448355           0.0
2017-09-07 00:00:00+05:30   0.000000           2.0
2018-06-27 00:00:00+05:30   5.943660           0.0
2019-08-02 00:00:00+05:30   6.438965           0.0
2020-07-02 00:00:00+05:30   6.500000           0.0
2021-06-11 00:00:00+05:30   7.000000           0.0
2022-08-18 00:00:00+05:30   8.000000           0.0

In [15]:
reliance.splits

Date
1997-10-27 00:00:00+05:30    2.0
2009-11-26 00:00:00+05:30    2.0
2017-09-07 00:00:00+05:30    2.0
Name: Stock Splits, dtype: float64

In [16]:
reliance.financials

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Tax Effect Of Unusual Items,0.0,8194356000.0,3659070000.0,-6234140000.0
Tax Rate For Calcs,0.218489,0.2004,0.0345,0.2365
Normalized EBITDA,1546910000000.0,1242880000000.0,893340000000.0,983060000000.0
Total Unusual Items,0.0,40890000000.0,106060000000.0,-26360000000.0
Total Unusual Items Excluding Goodwill,0.0,40890000000.0,106060000000.0,-26360000000.0
Net Income From Continuing Operation Net Minority Interest,667020000000.0,607050000000.0,491280000000.0,393540000000.0
Reconciled Depreciation,403190000000.0,297970000000.0,265720000000.0,222030000000.0
Reconciled Cost Of Revenue,6295990000000.0,5336130000000.0,3390610000000.0,4514360000000.0
EBIT,1143720000000.0,985800000000.0,733680000000.0,734670000000.0
Net Interest Income,-195710000000.0,-19260000000.0,-76060000000.0,-96180000000.0
Interest Expense,195710000000.0,144380000000.0,179070000000.0,198610000000.0
Interest Income,NaN,125290000000.0,103660000000.0,103170000000.0
Normalized Income,667020000000.0,574354356000.0,388879070000.0,413665860000.0
Net Income From Continuing And Discontinued Operation,667020000000.0,607050000000.0,491280000000.0,393540000000.0
Total Expenses,7768790000000.0,6192000000000.0,4127590000000.0,5304720000000.0
Rent Expense Supplemental,NaN,6260000000.0,7780000000.0,59690000000.0
Diluted Average Shares,NaN,6681893231.0,6532138901.0,6240469939.0
Basic Average Shares,NaN,6598369565.0,6432874848.0,6240186511.0
Diluted EPS,NaN,90.85,75.21,63.06
Basic EPS,NaN,92.0,76.37,63.07
Diluted NI Availto Com Stockholders,667020000000.0,607050000000.0,491280000000.0,393540000000.0
Net Income Common Stockholders,667020000000.0,607050000000.0,491280000000.0,393540000000.0
Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0
Net Income,667020000000.0,607050000000.0,491280000000.0,393540000000.0
Minority Interests,-73860000000.0,-71400000000.0,-46110000000.0,-5260000000.0
Net Income Including Noncontrolling Interests,740880000000.0,678450000000.0,537390000000.0,398800000000.0
Net Income Continuous Operations,740880000000.0,678450000000.0,537390000000.0,398800000000.0
Tax Provision,207130000000.0,162970000000.0,17220000000.0,137260000000.0
Pretax Income,948010000000.0,841420000000.0,554610000000.0,536060000000.0
Other Non Operating Income Expenses,118260000000.0,10250000000.0,9580000000.0,14640000000.0
Special Income Charges,0.0,27370000000.0,6760000000.0,-47120000000.0
Other Special Charges,NaN,-27370000000.0,-7970000000.0,47120000000.0
Write Off,NaN,0.0,1210000000.0,44440000000.0
Restructuring And Mergern Acquisition,NaN,NaN,NaN,44440000000.0
Net Non Operating Interest Income Expense,-195710000000.0,-19260000000.0,-76060000000.0,-96180000000.0
Total Other Finance Cost,NaN,170000000.0,650000000.0,740000000.0
Interest Expense Non Operating,195710000000.0,144380000000.0,179070000000.0,198610000000.0
Interest Income Non Operating,NaN,125290000000.0,103660000000.0,103170000000.0
Operating Income,1025890000000.0,807620000000.0,541650000000.0,662710000000.0
Operating Expense,1472800000000.0,855870000000.0,736980000000.0,790360000000.0
Other Operating Expenses,1223860000000.0,420940000000.0,396010000000.0,373090000000.0
Selling General And Administration,NaN,248690000000.0,196700000000.0,242620000000.0
Selling And Marketing Expense,NaN,159780000000.0,126780000000.0,121100000000.0
General And Administrative Expense,NaN,88910000000.0,69920000000.0,121520000000.0
Rent And Landing Fees,NaN,5780000000.0,5990000000.0,57930000000.0
Gross Profit,2498690000000.0,1663490000000.0,1278630000000.0,1453070000000.0
Cost Of Revenue,6295990000000.0,5336130000000.0,3390610000000.0,4514360000000.0
Total Revenue,8794680000000.0,6999620000000.0,4669240000000.0,5967430000000.0
Operating Revenue,8794680000000.0,6999620000000.0,4669240000000.0,5967430000000.0

In [17]:
reliance.quarterly_financials

,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.115576,0.228242,0.238824,0.286129
Normalized EBITDA,299330000000.0,282730000000.0,249330000000.0,312330000000.0
Total Unusual Items,0.0,0.0,0.0,0.0
Total Unusual Items Excluding Goodwill,0.0,0.0,0.0,0.0
Net Income From Continuing Operation Net Minority Interest,192990000000.0,157920000000.0,136560000000.0,179550000000.0
Reconciled Cost Of Revenue,1485590000000.0,1559240000000.0,1693010000000.0,1558150000000.0
EBIT,299330000000.0,282730000000.0,249330000000.0,312330000000.0
Net Interest Income,-58190000000.0,-52010000000.0,-45540000000.0,-39970000000.0
Interest Expense,58190000000.0,52010000000.0,45540000000.0,39970000000.0
Normalized Income,192990000000.0,157920000000.0,136560000000.0,179550000000.0
Net Income From Continuing And Discontinued Operation,192990000000.0,157920000000.0,136560000000.0,179550000000.0
Total Expenses,1859610000000.0,1921040000000.0,2085610000000.0,1902530000000.0
Diluted Average Shares,NaN,6766066838.0,6767096135.0,6765259985.0
Basic Average Shares,NaN,6766066838.0,6767096135.0,6765259985.0
Diluted EPS,NaN,23.34,20.18,26.54
Basic EPS,NaN,23.34,20.18,26.54
Diluted NI Availto Com Stockholders,192990000000.0,157920000000.0,136560000000.0,179550000000.0
Net Income Common Stockholders,192990000000.0,157920000000.0,136560000000.0,179550000000.0
Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0
Net Income,192990000000.0,157920000000.0,136560000000.0,179550000000.0
Minority Interests,-20280000000.0,-20140000000.0,-18560000000.0,-14880000000.0
Net Income Including Noncontrolling Interests,213270000000.0,178060000000.0,155120000000.0,194430000000.0
Net Income Continuous Operations,213270000000.0,178060000000.0,155120000000.0,194430000000.0
Tax Provision,27870000000.0,52660000000.0,48670000000.0,77930000000.0
Pretax Income,241140000000.0,230720000000.0,203790000000.0,272360000000.0
Other Non Operating Income Expenses,29180000000.0,31470000000.0,35140000000.0,22470000000.0
Special Income Charges,0.0,0.0,0.0,0.0
Net Non Operating Interest Income Expense,-58190000000.0,-52010000000.0,-45540000000.0,-39970000000.0
Interest Expense Non Operating,58190000000.0,52010000000.0,45540000000.0,39970000000.0
Operating Income,269840000000.0,250600000000.0,214940000000.0,290510000000.0
Operating Expense,374020000000.0,361800000000.0,392600000000.0,344380000000.0
Other Operating Expenses,309310000000.0,299130000000.0,331070000000.0,284350000000.0
Gross Profit,643860000000.0,612400000000.0,607540000000.0,634890000000.0
Cost Of Revenue,1485590000000.0,1559240000000.0,1693010000000.0,1558150000000.0
Total Revenue,2129450000000.0,2171640000000.0,2300550000000.0,2193040000000.0
Operating Revenue,2129450000000.0,2171640000000.0,2300550000000.0,2193040000000.0

In [18]:
reliance.balance_sheet

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Ordinary Shares Number,6766094014.0,6765994014.0,6762068814.0,6399357426.0
Share Issued,6766094014.0,6765994014.0,6762068814.0,6399357426.0
Net Debt,2400000000000.0,2327960000000.0,2373050000000.0,3104910000000.0
Total Debt,3351340000000.0,2819740000000.0,2601250000000.0,3449910000000.0
Tangible Book Value,4919100000000.0,5476870000000.0,5551980000000.0,3065840000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,2234170000000.0,1529000000000.0,1747420000000.0,1177240000000.0
Other Short Term Investments,1487090000000.0,1193910000000.0,1602360000000.0,919210000000.0
Cash And Cash Equivalents,747080000000.0,335090000000.0,145060000000.0,258030000000.0
Cash Equivalents,NaN,246890000000.0,56160000000.0,116870000000.0
Cash Financial,NaN,88200000000.0,88900000000.0,141160000000.0

In [19]:
reliance.quarterly_balance_sheet

,2023-03-31,2022-09-30
Ordinary Shares Number,6766094014.0,6765994014.0
Share Issued,6766094014.0,6765994014.0
Net Debt,2400000000000.0,2466010000000.0
Total Debt,3351340000000.0,3160300000000.0
Tangible Book Value,4919100000000.0,4544080000000.0
Invested Capital,11358610000000.0,10849080000000.0
Working Capital,454440000000.0,35230000000.0
Net Tangible Assets,4919100000000.0,4544080000000.0
Capital Lease Obligations,204260000000.0,211710000000.0
Common Stock Equity,8211530000000.0,7900490000000.0
Total Capitalization,10043290000000.0,9684430000000.0
Total Equity Gross Minority Interest,9341620000000.0,9027650000000.0
Minority Interest,1130090000000.0,1127160000000.0
Stockholders Equity,8211530000000.0,7900490000000.0
Other Equity Interest,8143870000000.0,7832830000000.0
Capital Stock,67660000000.0,67660000000.0
Common Stock,67660000000.0,67660000000.0
Total Liabilities Net Minority Interest,7793440000000.0,7231590000000.0
Total Non Current Liabilities Net Minority Interest,3828100000000.0,3761710000000.0
Other Non Current Liabilities,1137660000000.0,1158050000000.0
Non Current Deferred Taxes Liabilities,603270000000.0,537120000000.0
Long Term Debt And Capital Lease Obligation,1994060000000.0,1955540000000.0
Long Term Capital Lease Obligation,162300000000.0,171600000000.0
Long Term Debt,1831760000000.0,1783940000000.0
Long Term Provisions,16070000000.0,15030000000.0
Current Liabilities,3965340000000.0,3469880000000.0
Other Current Liabilities,429310000000.0,222090000000.0
Current Debt And Capital Lease Obligation,1357280000000.0,1204760000000.0
Current Capital Lease Obligation,41960000000.0,40110000000.0
Current Debt,1315320000000.0,1164650000000.0
Current Provisions,21800000000.0,22460000000.0
Payables,1471780000000.0,1507110000000.0
Accounts Payable,1471780000000.0,1507110000000.0
Total Assets,17135060000000.0,16259240000000.0
Total Non Current Assets,12715280000000.0,12754130000000.0
Other Non Current Assets,409780000000.0,570950000000.0
Non Current Deferred Taxes Assets,15430000000.0,7410000000.0
Investmentin Financial Assets,2104370000000.0,2775860000000.0
Available For Sale Securities,2104370000000.0,2775860000000.0
Goodwill And Other Intangible Assets,3292430000000.0,3356410000000.0
Other Intangible Assets,3155810000000.0,3226400000000.0
Goodwill,136620000000.0,130010000000.0
Net PPE,6878020000000.0,6027720000000.0
Gross PPE,6878020000000.0,6027720000000.0
Construction In Progress,1172590000000.0,821990000000.0
Other Properties,5705430000000.0,5205730000000.0
Current Assets,4419780000000.0,3505110000000.0
Other Current Assets,498850000000.0,486110000000.0
Inventory,1400080000000.0,1328170000000.0
Other Receivables,2170000000.0,2510000000.0
Accounts Receivable,284510000000.0,258360000000.0
Cash Cash Equivalents And Short Term Investments,2234170000000.0,1429960000000.0
Other Short Term Investments,1487090000000.0,947380000000.0
Cash And Cash Equivalents,747080000000.0,482580000000.0

In [20]:
reliance.cashflow

,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Free Cash Flow,-259560000000.0,105090000000.0,-796520000000.0,215570000000.0
Repayment Of Debt,-290590000000.0,-406470000000.0,-872400000000.0,-181790000000.0
Issuance Of Debt,359360000000.0,593430000000.0,332110000000.0,286650000000.0
Issuance Of Capital Stock,400000000.0,397670000000.0,132150000000.0,190000000.0
Capital Expenditure,-1409880000000.0,-1001450000000.0,-1058370000000.0,-765170000000.0
End Cash Position,747080000000.0,361780000000.0,173970000000.0,309200000000.0
Other Cash Adjustment Outside Changein Cash,42780000000.0,9410000000.0,240000000.0,230000000.0
Beginning Cash Position,361780000000.0,173970000000.0,309200000000.0,110810000000.0
Changes In Cash,342520000000.0,178400000000.0,-135470000000.0,198160000000.0
Financing Cash Flow,104550000000.0,172890000000.0,1019020000000.0,-25410000000.0
Net Other Financing Charges,4790000000.0,4500000000.0,1956800000000.0,-39790000000.0
Interest Paid Cff,-216500000000.0,-263490000000.0,-183400000000.0,-285080000000.0
Cash Dividends Paid,-50830000000.0,-42970000000.0,-39210000000.0,-45920000000.0
Common Stock Dividend Paid,NaN,NaN,NaN,-45920000000.0
Net Common Stock Issuance,400000000.0,397670000000.0,132150000000.0,190000000.0
Common Stock Issuance,400000000.0,397670000000.0,132150000000.0,190000000.0
Net Issuance Payments Of Debt,380750000000.0,98500000000.0,-837100000000.0,355810000000.0
Net Short Term Debt Issuance,311980000000.0,-88460000000.0,-296810000000.0,250950000000.0
Net Long Term Debt Issuance,68770000000.0,186960000000.0,-540290000000.0,104860000000.0
Long Term Debt Payments,-290590000000.0,-406470000000.0,-872400000000.0,-181790000000.0
Long Term Debt Issuance,359360000000.0,593430000000.0,332110000000.0,286650000000.0
Investing Cash Flow,-912350000000.0,-1101030000000.0,-1416340000000.0,-757170000000.0
Net Other Investing Changes,NaN,-193060000000.0,NaN,-164390000000.0
Interest Received Cfi,111030000000.0,59330000000.0,84000000000.0,14770000000.0
Dividends Received Cfi,200000000.0,190000000.0,260000000.0,880000000.0
Net Investment Purchase And Sale,294440000000.0,2590000000.0,-465420000000.0,147100000000.0
Sale Of Investment,5012660000000.0,6681370000000.0,6433240000000.0,11739800000000.0
Purchase Of Investment,-4718220000000.0,-6678780000000.0,-6898660000000.0,-11592700000000.0
Net PPE Purchase And Sale,91860000000.0,-970080000000.0,-1035180000000.0,-755530000000.0
Sale Of PPE,91860000000.0,31370000000.0,23190000000.0,9640000000.0
Purchase Of PPE,NaN,-1001450000000.0,-1058370000000.0,-765170000000.0
Capital Expenditure Reported,-1409880000000.0,NaN,NaN,-765170000000.0
Operating Cash Flow,1150320000000.0,1106540000000.0,261850000000.0,980740000000.0
Taxes Refund Paid,-62970000000.0,-37970000000.0,-32130000000.0,-83860000000.0
Change In Working Capital,-196340000000.0,7250000000.0,-507310000000.0,219040000000.0
Change In Payable,-6000000000.0,398880000000.0,-431480000000.0,380500000000.0
Change In Inventory,-322280000000.0,-249830000000.0,-77690000000.0,-63420000000.0
Change In Receivables,131940000000.0,-141800000000.0,1860000000.0,-98040000000.0
Other Non Cash Items,83640000000.0,24350000000.0,106610000000.0,115630000000.0
Provisionand Write Offof Assets,NaN,360000000.0,NaN,NaN
Deferred Tax,NaN,0.0,-56420000000.0,-9480000000.0
Depreciation And Amortization,403190000000.0,297970000000.0,265720000000.0,222030000000.0
Depreciation,403190000000.0,297970000000.0,265720000000.0,222030000000.0
Gain Loss On Investment Securities,11760000000.0,-13930000000.0,-48090000000.0,-21260000000.0
Net Foreign Currency Exchange Gain Loss,-36800000000.0,18210000000.0,-16450000000.0,1070000000.0
Gain Loss On Sale Of PPE,-600000000.0,400000000.0,470000000.0,2470000000.0
Gain Loss On Sale Of Business,NaN,-28720000000.0,NaN,110000000.0
Net Income From Continuing Operations,948010000000.0,841420000000.0,554610000000.0,536060000000.0

In [21]:
reliance.quarterly_cashflow

Empty DataFrame
Columns: []
Index: []

In [22]:
reliance.earnings

YFNotImplementedError: ignored

In [ ]:
reliance.quarterly_earnings

               Revenue      Earnings
Quarter
1Q2021   1495750000000  132270000000
2Q2021   1399490000000  122730000000
3Q2021   1676110000000  136800000000
4Q2021   1850270000000  185490000000

https://pypi.org/project/yfinance/